*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Raleway', sans-serif;

    --fw-lt: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;

    --clr-primary: #f0f8ff;
    /*(240,248,255)*/
    --clr-secondary: #91caf9;
    /*(145,202,249)*/
    --clr-tertiary: #1b3344;
    /*(27,51,68)*/
    --clr-accent: #708090;
    /*(112,128,144)*/
    --clr-highlight: #3c4447;
    /*(60,68,71)*/

    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .25em .25em .75em rgba(0, 0, 0, .25),
        .125em .125em .25em rgba(0, 0, 0, .15);
}

/* @media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
} */

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-primary);
    color: var(--clr-highlight);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    display: block;
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background-color: var(--clr-accent);
    color: var(--clr-highlight);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-med);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro {
    background-color: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-primary);
    margin-bottom: 1em;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background-color: var(--clr-highlight);
    color: var(--clr-primary);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-secondary);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* Intro section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        height: 800px;
        margin: 0 auto;
        grid-column-gap: 5em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 600px;
        position: relative;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: center;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* Lesson */

.lesson {
    background-color: var(--clr-highlight);
    background-image: url(../images/aaron-burden-QJDzYT_K8Xg-unsplash.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-primary);
    text-align: center;
    max-width: 100vw;
    height: 860px;
}

.lesson__item {
    max-width: max-content;
    border: solid var(--clr-accent);
    border-radius: 10px;
    margin: 2em auto;
    padding: 2em;
}

.lesson__item p {
    font-size: 1.3rem;
    margin-bottom: -1em;
}

.lesson__item>p>span {
    font-weight: 700;
}

.section__title--lesson {
    padding-top: 3em;
}

.section__subtitle--lesson {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

@media (min-width: 600px) {
    .lesson {}

    .section__title--lesson {}
}

/* Toolbox */

.toolbox {
    background-color: var(--clr-accent);
    background-image: url(../images/milan-popovic-BmyXTxyDL-I-unsplash.jpg);
    background-size: contain;
    background-blend-mode: multiply;
    color: var(--clr-primary);
    max-width: 100vw;
    height: 1600px;
}

.section__title--toolbox {
    padding-top: 1em;
    text-align: center;
}

.section__subtitle--toolbox {
    margin: 1em auto;
    max-width: 80%;
}

/* Accordian */

.accordion {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.accordion__header {
    color: var(--clr-accent);
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
}

.accordion__item {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--clr-tertiary);
    color: var(--clr-primary);
    position: relative;
}

.accordion__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

.accordion__item__title {
    font-weight: 700;
}

.accordion__item__author {
    font-weight: 700;
}

.accordion__title::after {
    content: '+';
    font-size: 40px;
    margin-left: auto;
}

.accordion__title-active::after {
    content: '-';
}

.accordion__body {
    max-height: 0;
    overflow: hidden;
    line-height: 1.5;
    transition: 500ms ease max-height;
}

.accordion__body ul {
    list-style: none;
}

.accordion__body ul li {
    border-bottom: solid;
}



a:hover {
    transform: scale(1.1);
}

a:link,
a:visited {
    text-decoration: none;
    background-color: var(--clr-accent);
    color: black;
    border: 2px solid var(--clr-highlight);
    padding: 3px 4px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 12px;
    margin-top: 6px;
}

/* Memorization */

.memorization {
    background-color: var(--clr-accent);
    color: var(--clr-tertiary);
    max-width: 100vw;
    height: 800px;
}

.section__title--memorization {
    text-align: center;
    padding-top: 3em;
}

.section__subtitle--memorization {
    text-align: center;
    margin-top: 2em;
}

.memory-verse__item {
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    max-width: 80%;
    margin: auto;
}

.memory-verse {
    text-align: left;
    margin: 1em;
}

.memory-verse-reference {
    text-align: left;
    font-size: var(--fs-h3);
    margin: 1em;
}

/* Footer */

.footer {
    text-align: center;
    background-color: var(--clr-tertiary);
    width: 100%;
    height: 50vh;
}

.footer .logo {
    margin: 0 auto;
    padding-top: 1em;
    margin-bottom: 1em;
}