* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    /* --clr-primary: #468284;
    --clr-secondary: #5f9ea0;
    --clr-tertiary: #2F4F4F;
    --clr-accent: #708090;
    --clr-highlight: #778899; */

    /* #082d52; */
    /* #522D08 */

    --clr-primary:#f0f8ff;	    /*(240,248,255)*/
    --clr-secondary:#91caf9;	    /*(145,202,249)*/
    --clr-tertiary:#1b3344;	    /*(27,51,68)*/
    --clr-accent:#708090;	    /*(112,128,144)*/
    --clr-highlight:#3c4447;	    /*(60,68,71)*/
}

body {
    background-color:var(--clr-secondary) /* #082d52; */
}

header h1 {
    margin: 12px;
    color: var(--clr-accent);
    font-weight: 700;
}

.accordion {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.accordion__header {
    color: var(--clr-tertiary);
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
}

.accordion__item {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--clr-tertiary);
    color: var(--clr-primary);
}

.accordion__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

.accordion__item__title {
    font-weight: 700;
}

.accordion__title::after {
    content: '+';
    font-size: 40px;
    margin-left: auto;
}

.accordion__title-active::after {
    content: '-';
}

.accordion__body {
    max-height: 0;
    overflow: hidden;
    line-height: 1.5;
    transition: 500ms ease max-height;
}

a:link, a:visited {
    text-decoration: none;
    background-color: var(--clr-accent);
    color: black;
    border: 2px solid var(--clr-highlight);
    padding: 3px 4px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 12px;
    margin-top: 6px;
}

footer {
    text-align: center;
    color: var(--clr-tertiary);
}
